// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.navbar {
  background-color: ccf;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;

  span {
    padding: 1px 1em;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
  }
}
